body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("recursos/Fondodeli.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rectangulo{
      top: 250px;
      left: 650px;
    position: absolute;
    border-radius: 25px;
    border: 6px solid #D6956B;
    background-color: #ffffff;
    padding: 10px; 
    width: 450px;
    height: 300px;
  }
  .dentrorectangulo{
    margin-left: 5px;
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    position: absolute;
    text-align: center;
}