body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("recursos/Fondodeli.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tituloperfil{
      left: 20px;
      top: 82px;
      width: 419px;
      height: 41px;
      color: #D6956B;
      position: absolute;
      font-size: 42px;
      text-align: left;
      white-space: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .rectangulo{
      top: 192px;
      left: 714px;

    position: absolute;
    border-radius: 25px;
    border: 3px solid #D6956B;
    background-color: #ffffff;
    padding: 10px; 
    width: 550px;
    height: 480px;
  }

  .dentrorectangulo{
      margin-left: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      position: absolute;
  }

 #fechadia, #fechames{
    border-radius: 25px;
    border: 2px solid #707070;
    padding: 20px; 
    width: 70px;
    height: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #fechayear{
    border-radius: 25px;
    border: 2px solid #707070;
    padding: 20px; 
    width: 95px;
    height: 15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #postresfavs{
    border-radius: 25px;
    border: 2px solid #707070;
    padding: 20px; 
    width: 400px;
    height: 70px; 
  }
  #hobbies{
    border-radius: 25px;
    border: 2px solid #707070;
    padding: 20px; 
    width: 400px;
    height: 80px; 
    text-align: left;
  }

  #desc{
    border-radius: 25px;
    border: 3px solid #D6956B;
    padding: 20px; 
    text-align: left;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #636363;
    width: 400px;
    height: auto;
  }